body
{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    color:#40514E;
}
h2
{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color:#66BFBF;
    font-weight: normal;
    padding-bottom: 10px;
}
h3
{
    color:#11999E;
    font-family: 'Montserrat', sans-serif;
}
h1
{
    margin: 50px auto 0 auto;
    color:#66BFBF;
    font-size: 5.625rem;
    font-family: 'Sacramento', cursive;
   
}
div
{
    background-color: #ffffff;
}
.TopContainer
{
    background-color: #e4f9f5;
    position: relative;
    padding-top: 70px;
}
.middle-container
{
    margin: 50px 0;
}
.bottom-container
{
  background-color: #66BFBF;
  padding: 50px 0 20px;
}
hr
{
    border: dotted;
    border-bottom: none;
    width: 4%;
    border-color: #e2e2e2;
    border-width: 6px;
    margin: 100px auto;
}
a{
color: #11999E;
font-family: 'Montserrat', sans-serif;
margin: 10px 20px;
text-decoration: none;
}
a:hover
{
    color: #EAF6F6;
}
.copyright
{
    color:  #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
}
.bottom-cloud
{
    position: absolute;
    left: 250px;
    bottom: 300px;
}
.top-cloud
{
    position: absolute;
    top: 40px;
    right: 300px;
}
.skill-row
{
    width: 50%;
    margin: 100px auto 100px auto; /*for centre align */
    text-align: left;
    
}
.chilli-img
{
width: 25%;
float: left;
margin-right: 50px;
position: relative;
left: 450px;

}

.code-img
{
    width: 25%;
    float: left;
margin-right: 50px;
}
.intro
{
    width: 30%;
    margin: auto;
}
ul{
    line-height: 2;
}
.contact-message
{
    width: 40%;
    margin: 40px auto 60px;
}
.btn {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #11cdd4), color-stop(1, #11999e) );
	background:-moz-linear-gradient( center top, #11cdd4 5%, #11999e 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#11cdd4', endColorstr='#11999e');
	background-color:#11cdd4;
	-webkit-border-top-left-radius:8px;
	-moz-border-radius-topleft:8px;
	border-top-left-radius:8px;
	-webkit-border-top-right-radius:8px;
	-moz-border-radius-topright:8px;
	border-top-right-radius:8px;
	-webkit-border-bottom-right-radius:8px;
	-moz-border-radius-bottomright:8px;
	border-bottom-right-radius:8px;
	-webkit-border-bottom-left-radius:8px;
	-moz-border-radius-bottomleft:8px;
	border-bottom-left-radius:8px;
text-indent:0;
	border:1px solid #18ab29;
	display:inline-block;
	color:#ffffff;
	font-family: 'Montserrat', sans-serif;
	font-size:20px;
	font-weight:bold;
	font-style:normal;
height:50px;
	line-height:50px;
width:160px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #2f6627;
}.btn:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #11999e), color-stop(1, #11cdd4) );
	background:-moz-linear-gradient( center top, #11999e 5%, #11cdd4 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#11999e', endColorstr='#11cdd4');
	background-color:#11999e;
}.btn:active {
	position:relative;
	top:1px;
}